<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= account %> <br> <%= name %></p>
<div>
    <button onclick="window.location.href = '/profiles/advertise';">Profile</button>
    <button onclick="window.location.href = '/users/logout';">logout</button>
</div>