<h1 class="mt-4">My Profile</h1>
<p class="lead mb-3">You are logged in as <%= name %><br><%= account %></p><br>

<div>
    <button onclick="window.location.href = '/dashboard';">Back</button>
    <button onclick="window.location.href = '/users/rooms';">My Listings</button>
    <button onclick="window.location.href = '/users/logout';">logout</button>
</div>
