
        <p>Create an account or login</p>
        <p><button onclick="window.location.href = '/users/register';"> Register</button></p>
        <p><button onclick="window.location.href = '/users/login';">Login</button></p> 
